.login_box {
    width: 500px;
    height: 600px;
    padding: 10px;
    margin: 100px;
    background:rgba(255,255,255,.4);

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    display: block;
    margin-left: auto;
    margin-right: auto;


}

body {
	  
    background-image: url(japan.jpg);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover; 
     background-position: center;
  }
  p {
position: relative;
left: 150px;


  }
  form {
    text-align: center;
    
  }
  input{
    width: 200px;
    height: 30px;
  }
  label{
    border-radius: 10px;
  }
  
  a{
position: relative;
left: 320px;
bottom: 36px;
  }
  .github{
    position: relative;
    left: 150px;
    top: 10px;
  
  }